.kadai-memo-calendar {
  top : 10px;
  left : 10px;
  width : 150px;
  height : 40px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #E6E6FA;
}
.kadai-memo-calendar:hover{
  background-color: rgb(250, 248, 161);
}

.kadai-memo-schedule {
  top : 10px;
  left : 180px;
  width : 150px;
  height : 40px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #E6E6FA;
}
.kadai-memo-calendar:hover{
  background-color: rgb(250, 248, 161);
}

.kadai-memo-memo{
  top : 50px;
  left : 10px;
  width :  100%;
  height : 1000px;
  background-color:rgb(181, 255, 203);
  color : rgb(204, 0, 255);
  font-size : 50px;
}