.kadai-memo-calendar {
  top : 10px;
  left : 10px;
  width : 150px;
  height : 40px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #E6E6FA;
}
.kadai-memo-calendar:hover{
  background-color: rgb(250, 248, 161);
}

.kadai-memo-schedule {
  top : 10px;
  left : 180px;
  width : 150px;
  height : 40px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #E6E6FA;
}
.kadai-memo-calendar:hover{
  background-color: rgb(250, 248, 161);
}

.clear-button{
  top : 100px;
  left : 10px;
  width : 100px;
  height : 100px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #E6E6FA;
}
.clear-button:hover{
  background-color: rgb(250, 248, 161);
}

.eraser-button{
  top : 100px;
  left : 40px;
  width : 100px;
  height : 100px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #E6E6FA;
}
.eraser-button:hover{
  background-color: rgb(250, 248, 161);
}
